
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CustomVariable</title>
</head>
<body>
    <div>Nazwa kontrolera: @ViewBag.Controller</div>
    <div>Nazwa Akcji: @ViewBag.Action</div>
    <div>Nazwa własnej zmiennej: @ViewBag.CustomVariable</div>
</body>
</html>
