
@{
    ViewBag.Title = "Przyjęcie Sylwestrowe";
}


<div>
    <h3>@ViewBag.Greeting</h3>

    <p>
        Zapraszamy na przyjęcie karnawałowe do Ulki
    </p>
    @Html.ActionLink("Wiślij RSVP", "RsvpForm")
</div>