
@{
    ViewBag.Title = "Przyjęcie Sylwestrowe";
}

<head>
    <style>
        .btn a {
            color: white;
            text-decoration: none
        }

        body {
            background-color: #F1F1F1;
        }
    </style>
</head>

<div class="text-center">
    <h2>
        Zapraszamy na przyjęcie karnawałowe do Ulki
    </h2>
    <h3>
        Ty też zostałeś zaproszony
    </h3>
    <div class="btn btn-success">
        @Html.ActionLink("Wiślij RSVP", "RsvpForm")
    </div>
</div>
</div>