@model AspWorkshop.Models.GuestResponse

@{
    ViewBag.Title = "Thanks";
}


<div>
    <h1>Dziękujęmy, @Model.Name</h1>

    @if (Model.WillAttend == true) {
        @:Cieszymy się, że przyjdziesz na imprezę
    } else {
        @:Przykro nam że cię nie będzie
    }
</div>